.section_1 {
  .image-container {
    height: calc(100vh - 7.7rem);
  }
}

.section_2 {
  .visionMissionPurposeContainer {
    .visionContainer {
      width: 70%;
      background: #e7e8ff;
      border-radius: 2.6rem;
      -webkit-border-radius: 2.6rem;
      -moz-border-radius: 2.6rem;
      -ms-border-radius: 2.6rem;
      -o-border-radius: 2.6rem;
      padding: 3.6rem;

      .commonTitle {
        color: #5200ff;
      }

      &:nth-child(2) {
        background: #e0f0f1;

        .commonTitle {
          color: #008484;
        }
      }
      &:nth-child(3) {
        background: #f7f0e6;

        .commonTitle {
          color: #bb7107;
        }
      }
    }
  }
  .image-container {
  }
}
