/***** Responsiveness Section *****/

@media screen and (width < 1240px) {
  html {
    font-size: 53%;
  }
}

@media screen and (width < 992px) {
  .navbar-toggler {
    display: block;
  }

  .sign_in {
    display: block !important;
  }
  .navLinks {
    display: none !important;
  }
  .round {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 0rem;
  }

  .insaurance {
    & .text_container {
      padding: 4rem;
      margin-bottom: -7rem;

      &.round {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
      }
    }
  }

  .loan_container {
    & .text_container {
      margin-bottom: -7rem;
    }
  }

  .positions2 {
    & .owl-nav {
      top: 2rem;
      right: 1rem;
    }
  }

  .section_8 {
    & .partners-Customers {
      & .ratings-container {
        & .rating-card {
          flex-direction: row;
        }
      }
    }
  }

  .positions1 {
    .owl-nav {
      top: 2rem;
      right: 1rem;
    }
  }

  .fs-4 {
    font-size: calc(2.275rem + 0.3vw) !important;
  }
}

@media screen and (width < 888px) {
  html {
    font-size: 49%;
  }
}

@media screen and (width < 768px) {
  .product-main-text-container {
    margin-top: 46rem;
  }

  .product_section_1 {
    height: 130rem;
    background-image: url("/product bg mobile view.jpg");
    background-size: contain;
  }
}

@media screen and (width < 748px) {
  html {
    font-size: 44%;
  }

  .section_2 {
    & .loan_container {
      & .text_container {
        padding: 4rem;
      }
    }
  }
  .pera {
    display: none;
  }
}

@media screen and (width < 548px) {
  .footer {
    background: linear-gradient(200deg, #000000 0%, #003c79 100%);
  }

  .insaurance {
    & .image_container {
      & .insaurance2 {
        width: 47rem;
        margin-bottom: -9rem;
        z-index: 2;
      }
    }
  }

  .section_8 {
    & .partners-Customers {
      & .review-card {
        height: 60rem;
      }
    }
  }

  .loan_container {
    & .image_container {
      & .loan2 {
        width: 37rem;
        margin-bottom: -6.5rem;
        z-index: 2;
      }
    }
  }

  .section_8 {
    & .partners-Customers {
      & .img-container {
        width: 13rem;
        height: 13rem;
        overflow: hidden;
        & img {
          width: 11rem;
        }

        & .avatar {
          width: 8.6rem;
        }
      }
    }
  }

  .owl-prev,
  .owl-next {
    width: 40px;
    height: 40px;

    & img {
      width: 60%;
    }
  }

  .about-hero-img {
    margin-top: 7rem;
  }

  html {
    font-size: 42%;
  }

  .resources-container {
    .text {
      top: 5rem;
      left: 5rem;
    }
  }
}

@media screen and (width < 510px) {
  .about_section_2 {
    & .visionMissionPurposeContainer {
      & .owl-item {
        & .item {
          .visionContainer {
            width: 55rem;
          }
        }
      }
    }
  }
  .about_section_3 {
    & .box-container {
      & .box {
        &:nth-child(odd) {
          ul {
            padding: 2rem 4.5rem 2rem 2rem;
          }
        }
        ul {
          padding: 2rem 1rem 2rem 4.5rem;
        }
      }
    }
  }
  .product_detailed_page {
    .container {
      padding: 0 5rem !important;
    }
  }
}

@media screen and (width < 461px) {
  .about_section_2 {
    & .visionMissionPurposeContainer {
      & .owl-item {
        & .item {
          .visionContainer {
            width: 45rem;
          }
        }
      }
    }
  }
}

@media screen and (width < 380px) {
  .about_section_2 {
    & .visionMissionPurposeContainer {
      & .owl-item {
        & .item {
          .visionContainer {
            width: 40rem;
          }
        }
      }
    }
  }
  .custom-btn {
    &:nth-child(2) {
      margin-left: 21rem;
    }
  }

  .about_section_6 {
    & .benefits-card {
      .img-container {
        width: 25rem !important;
        height: 30rem !important;
      }
    }
  }
}
/***** End Responsiveness Section *****/
