* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/***** Global Css *****/

.Active {
  color: blue !important;
  text-shadow: 1px 0px 0px blue;
}

.b-shadow {
  box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 18px;
}

a {
  text-decoration: none !important;
  font-size: 2rem;
}

.offcanvas-backdrop.show {
  opacity: 0 !important;
}

li {
  list-style: none;
}

.text-light-gray {
  color: #a4a2a5;
}

.mt-15 {
  margin-top: 15rem;
}

/***** End Global Css *****/

/***** Sidebar Section *****/

.navbar-toggler {
  display: none;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.slider {
  width: 27rem !important;
  background-color: transparent !important;
  backdrop-filter: blur(8px);
}

/***** End Sidebar Section *****/

/***** NavBar Section *****/

.nav {
  height: 7rem;
  padding: 0 4% !important;
}

/***** End NavBar Section *****/

/***** Home Section *****/

.section_1 {
  height: 90vh;

  & .image_Container {
    width: 58rem;

    & img {
      width: 100%;
    }
  }
}

/***** End Home Section *****/

/***** Responsiveness Section *****/

@media screen and (width < 1010px) {
  html {
    font-size: 59%;
  }
}

@media screen and (width < 992px) {
  .navbar-toggler {
    display: block;
  }

  .navLinks {
    display: none !important;
  }
}

@media screen and (width < 888px) {
  html {
    font-size: 52%;
  }
}

@media screen and (width < 888px) {
  html {
    font-size: 49%;
  }
}

@media screen and (width < 748px) {
  html {
    font-size: 45%;
  }
}
@media screen and (width < 488px) {
  html {
    font-size: 41%;
  }
}
@media screen and (width < 378px) {
  html {
    font-size: 37%;
  }
}
/***** End Responsiveness Section *****/
