* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-light-gray: #f7f7f7;
  --dark-blue: #00225d;
  --white: #fff;
  --light-blue: #00b2ff;
  --light-bg: #f9f9f9;
  --text-gray: #525252;
}

#root {
  font-family: "Zilla Slab", serif !important;
}

/***** Margin & padding Section *****/

.mt-15 {
  margin-top: 15rem;
}

.m-7 {
  margin: 8rem;
}

.my-10 {
  margin: 10rem 0;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mt-7 {
  margin-top: 7rem;
}

.mx-6 {
  margin: 0 6rem;
}

.py-7 {
  padding: 7rem 0;
}

.p-7 {
  padding: 7rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.gap-8 {
  gap: 8rem;
}
/***** End Margin & padding Section *****/

/* ---------------------------------------------------- */

/***** Global Css *****/

.Active {
  color: var(--dark-blue) !important;
  text-shadow: 1px 1px 1px var(--dark-blue);
}

.b-shadow {
  box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 18px;
}

a {
  text-decoration: none !important;
  font-size: 2rem;
}

.offcanvas-backdrop.show {
  opacity: 0 !important;
}

li {
  list-style: none;
}

.text-light-gray {
  color: #a4a2a5;
}

.btn-container {
  background: var(--light-blue);
  width: fit-content;
  padding: 0 0.7rem 0.7rem 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  & .cus-btn {
    background: var(--white) !important;
    padding: 1.4rem !important;
    position: relative !important;
    margin-left: -0.3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:hover {
      color: var(--dark-blue);
    }
  }
  &:active {
    background: var(--dark-blue);
    color: var(--bg-light-gray);
    scale: 0.98;
  }
}

.round {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.round-3 {
  border-radius: 3rem !important;
  -webkit-border-radius: 3rem !important;
  -moz-border-radius: 3rem !important;
  -ms-border-radius: 3rem !important;
  -o-border-radius: 3rem !important;
}

.sidebar-li {
  & a {
    font-size: 3rem;
  }
}
/***** End Global Css *****/

/* ---------------------------------------------------- */

/***** Sidebar Section *****/

.navbar-toggler {
  display: none;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.slider {
  width: 38rem !important;
  background-color: transparent !important;
  backdrop-filter: blur(8px);
}

/***** End Sidebar Section *****/

/* ---------------------------------------------------- */

/***** NavBar Section *****/

.nav {
  height: 7.3rem;
  padding: 0 4% !important;
}

.nav-item a {
  font-size: 2.4rem !important;
  font-weight: 400;
  color: var(--text-gray);
}

/***** End NavBar Section *****/

/***** Home Section *****/

.section_1 {
  height: 100%;

  & .image_Container {
    width: 65rem;

    & img {
      width: 100%;
    }
  }
}

/***** End Home Section *****/

/* ---------------------------------------------------- */

/***** Loan Container Section *****/

.loan_container {
  background: var(--bg-light-gray);

  & .image_container {
    & .loan {
      width: 32rem;
    }
    & .loan2 {
      width: 40rem;
    }
  }

  & .text_container {
    background: var(--dark-blue);
    padding: 8rem;
  }
}

/***** End Loan Container Section *****/

/* ---------------------------------------------------- */

/***** insaurance Container Section *****/

.insaurance {
  background: var(--bg-light-gray);

  & .image_container {
    & .loan {
      width: 45rem;
    }
    & .loan2 {
      width: 50rem;
    }
  }

  & .text_container {
    background: var(--dark-blue);
    padding: 8rem;

    &.round {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }
  }
}

/***** End insaurance Container Section *****/

/* ---------------------------------------------------- */

/***** family Container *****/

.section_4 {
  & .bg-gray {
    background-color: var(--bg-light-gray);
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;

    & .image_container {
      & .mobile {
        width: 37rem !important;
        margin-bottom: -7.5rem;
      }
    }
  }
}

/***** End family Container *****/

/* ---------------------------------------------------- */

/***** Samriddh Kendra works Section *****/

.section_5 {
  & .card-slider {
    display: flex;
    align-items: center;
    height: 53rem;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 2rem;

    &::-webkit-scrollbar {
      display: none;
    }

    & .custom-card {
      width: 30rem;
      height: 34.7rem;
      border: 2px solid #dddd;
      background: var(--bg-light-gray);
      position: relative;
      padding: 2rem !important;

      & .icon {
        margin-top: -10rem;
      }

      .steps-container {
        margin-bottom: -5rem;
        & .steps {
          width: 4.6rem;
          height: 4.6rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background: var(--dark-blue);
          color: var(--white);
          font-size: 2.8rem;
        }
      }
    }
  }
}

/***** End Samriddh Kendra works Section *****/

/***** Responsiveness Section *****/

@media screen and (width < 1140px) {
  html {
    font-size: 52%;
  }
}

@media screen and (width < 992px) {
  .navbar-toggler {
    display: block;
  }

  .navLinks {
    display: none !important;
  }
  .round {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 0rem;
  }

  .insaurance {
    & .text_container {
      padding: 4rem;
      margin-bottom: -7rem;

      &.round {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
      }
    }
  }

  .loan_container {
    & .text_container {
      margin-bottom: -7rem;
    }
  }
}

@media screen and (width < 888px) {
  html {
    font-size: 49%;
  }
}

@media screen and (width < 748px) {
  html {
    font-size: 45%;
  }

  .section_2 {
    & .loan_container {
      & .text_container {
        padding: 4rem;
      }
    }
  }
}
@media screen and (width < 488px) {
  html {
    font-size: 41%;
  }
}
/***** End Responsiveness Section *****/

/***** Custom Scroll Bar *****/

::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #003694;
}

/***** End Custom Scroll Bar *****/
