* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-light-gray: #f7f7f7;
  --dark-blue: #00225d;
  --white: #fff;
  --light-blue: #4473f5;
}

#root {
  font-family: "Zilla Slab", serif !important;
}

/***** Margin & padding Section *****/

.mt-15 {
  margin-top: 15rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mx-6 {
  margin: 0 6rem;
}

.py-7 {
  padding: 7rem 0;
}
.p-8 {
  padding: 8rem !important;
}

/***** End Margin & padding Section *****/

/* ---------------------------------------------------- */

/***** Global Css *****/

.Active {
  color: var(--dark-blue) !important;
  text-shadow: 1px 0px 0px var(--dark-blue);
}

.b-shadow {
  box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 18px;
}

a {
  text-decoration: none !important;
  font-size: 2rem;
}

.offcanvas-backdrop.show {
  opacity: 0 !important;
}

li {
  list-style: none;
}

.text-light-gray {
  color: #a4a2a5;
}

.btn-container {
  background: var(--light-blue);
  padding: 0 0.7rem 0.7rem 0;

  & .cus-btn {
    background: var(--white) !important;
    padding: 1.4rem !important;
    position: relative !important;
    margin-left: -0.3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.rounded-s {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

/***** End Global Css *****/

/* ---------------------------------------------------- */

/***** Sidebar Section *****/

.navbar-toggler {
  display: none;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.slider {
  width: 35rem !important;
  background-color: transparent !important;
  backdrop-filter: blur(8px);
}

/***** End Sidebar Section *****/

/* ---------------------------------------------------- */

/***** NavBar Section *****/

.nav {
  height: 7rem;
  padding: 0 4% !important;
}

/***** End NavBar Section *****/

/***** Home Section *****/

.section_1 {
  height: 100%;

  & .image_Container {
    width: 50rem;

    & img {
      width: 100%;
    }
  }
}

/***** End Home Section *****/

/* ---------------------------------------------------- */

/***** Loan Container Section *****/

.section_2 {
  & .Loan_Container {
    background: var(--bg-light-gray);

    & .text_container {
      background: var(--dark-blue);
      padding: 8rem;
    }
  }
}

/***** End Loan Container Section *****/

/***** Responsiveness Section *****/

@media screen and (width < 1200px) {
  html {
    font-size: 52%;
  }
}

@media screen and (width < 992px) {
  .navbar-toggler {
    display: block;
  }

  .navLinks {
    display: none !important;
  }
}

@media screen and (width < 888px) {
  html {
    font-size: 49%;
  }
}

@media screen and (width < 748px) {
  html {
    font-size: 45%;
  }
}
@media screen and (width < 488px) {
  html {
    font-size: 41%;
  }

  .section_2 {
    & .Loan_Container {
      & .text_container {
        padding: 4rem;
      }
    }
  }
}
@media screen and (width < 378px) {
  html {
    font-size: 37%;
  }
}
/***** End Responsiveness Section *****/
