* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/***** Global Css *****/

.Active {
  color: blue !important;
  text-shadow: 0px 0px 1.8px blue;
}

a {
  text-decoration: none !important;
  font-size: 2rem;
}

li {
  list-style: none;
}

.mt-9 {
  margin-top: 9rem;
}

/***** End Global Css *****/

/***** Sidebar Section *****/

.navbar-toggler {
  display: none;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.slider {
  width: 30rem !important;
  background-color: transparent !important;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/***** End Sidebar Section *****/

/***** NavBar Section *****/

.nav {
  padding: 2rem 4% !important;
}

/***** End NavBar Section *****/

/***** Responsiveness Section *****/

@media screen and (width < 1010px) {
  html {
    font-size: 59%;
  }
}

@media screen and (width < 992px) {
  .navbar-toggler {
    display: block;
  }

  .navLinks {
    display: none !important;
  }
}

/***** End Responsiveness Section *****/
